body {
    background-color: #1a1b26;
    color: #9ece6a;
    font-size: 30px;
}

/* ul li { Forma de seleccionar al hijo */
    /* list-style-type: lower-greek; Forma simbolo de la lista no ordenada */
    /*Puede ser circle, square, upper-roman, lower-alpha, lower-greek*/
/* } */

ul { /*Padre*/
    list-style-type: none;
    background-color: #414868;
    border: solid 1px #9aa5ce;
    border-radius: 5px;
    padding-left: 0px;
}

li { /*Hijo*/
    border-bottom: solid 1px #9aa5ce;
    padding: 10px;
}