body {
    background-color: #1a1b26;
    color: #9ece6a;
    font-size: 30px;
}

table {
    width: 80%; /*Ancho en toda la pag*/
    background-color: #24283b;
    border-collapse: collapse; /*Quitar borde entre las columnas*/
}

tr:nth-child(even) { /*Seleccionar filas de forma par o impar*/
    /*even => Primera fila; odd => Segunda fila*/
    background-color: #565f89;
}

td {
    border: 1px solid #24283b;
    padding: 8px;
}

table th { /*Cabecera de la tabla*/
    background-color: #0f0f14;
    color: white;
    text-align: left; /*Aliar texto a la izq*/
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}