body {
    background-color: #000;
    color: #ff9e64;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-areas: "header header"
                        "content sidebar"
                        "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    /* Para las grillas implicitas */
    grid-auto-rows: 140px;
    grid-auto-flow: row; /*Esto dice si crece hacia la Izq o Der*/
    justify-items: center; /**/
}

.red {
    background-color: #f7768e;
    color: #1a1b26;
}
.blue {
    background-color: #7aa2f7;
    color: #1a1b26;
}

.header {
    grid-column: col-inicio / col-fin 3;
    grid-row: row-inicio / row-fin 3;
}