
body {
    background-color: #efefef;
}

.caja {
    margin: 8px; /*Permite separar la margen del body hacia la Der*/
    padding: 8px; /*Permite tomar el contenido y enviarlo mas hacia el centro*/
    border-style: solid; /*Tipo de linea de la caja*/
    border-width: 8px; /*Ancho de la linea de la caja*/
    border-color: #faa; /*Color del borde de la caja*/
    border-left: 6px solid #afa; /*Para reemplazar el de la izq*/
    /*top=arriba; bottom=abajo; right=Der*/
    background-color: #aaf; /*Color de fondo*/
    border-radius: 8px; /*curvatura en las cajas, suavizado*/
    height: 20px; /*Alto de la caja*/
    width: 100px; /*Ancho de la caja*/
    color:#ffffff; /*Color de texto*/
}