body {
    background-color: #1a1b26;
    color: #1a1b26;
    font-size: 20px;
}

p {
    max-width: 400px; /*Ancho maximo, no deja hacer scroll*/
    /*width: 500px; /*Ancho maximo pero permite hacer scroll*/
    background-color: #9ece6a;
    margin: auto; /*Margen automatico*/
    /*position: relative; /*Nueva posicion*/
    position: fixed; /*Posicion fija, sirve para los menus estaticos*/
    left: 0px;
    right: 0px;
    top: 0px; /*Corta de arriba hacia abajo*/
    bottom: 690px; /*Corta de abajo hacia arriba*/
}

div {
    color: #9ece6a;
}
