body {
    background-color: #000;
    color: #ff9e64;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(3, 1fr);
    /*Brechas:*/
    /*Separacion entre filas de la talbs*/
    /* grid-row-gap: 20px; */
    /*Separacion entre columnas de la talbs*/
    /* grid-column-gap: 10px; */
    /* Forma de hacerlo en una sola linea */
    grid-gap: 20px 10px;
    /* En una sola linea: */
    /* grid-gap: 10px; */
}

.element {
    background-color: #1a1b26;
}

/*Expandir elementos de la grilla*/
.header {
    /*grid-column-start: 1; /*Esto es la cantidad de lineas en las columnas*/
    /*grid-column-end: 6; /*sexta columna*/
    /*grid-row-start: 1;
    grid-row-end: 3;
    /* Otra forma de hacerlo */
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}